#root {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  justify-content: center;

  background-image: linear-gradient(
      55deg,
      rgba(208, 208, 208, 0.03) 0%,
      rgba(208, 208, 208, 0.03) 20%,
      rgba(55, 55, 55, 0.03) 20%,
      rgba(55, 55, 55, 0.03) 40%,
      rgba(81, 81, 81, 0.03) 40%,
      rgba(81, 81, 81, 0.03) 60%,
      rgba(208, 208, 208, 0.03) 60%,
      rgba(208, 208, 208, 0.03) 80%,
      rgba(191, 191, 191, 0.03) 80%,
      rgba(191, 191, 191, 0.03) 100%
    ),
    linear-gradient(
      291deg,
      rgba(190, 190, 190, 0.02) 0%,
      rgba(190, 190, 190, 0.02) 14.286%,
      rgba(105, 105, 105, 0.02) 14.286%,
      rgba(105, 105, 105, 0.02) 28.572%,
      rgba(230, 230, 230, 0.02) 28.572%,
      rgba(230, 230, 230, 0.02) 42.858%,
      rgba(216, 216, 216, 0.02) 42.858%,
      rgba(216, 216, 216, 0.02) 57.144%,
      rgba(181, 181, 181, 0.02) 57.144%,
      rgba(181, 181, 181, 0.02) 71.42999999999999%,
      rgba(129, 129, 129, 0.02) 71.43%,
      rgba(129, 129, 129, 0.02) 85.71600000000001%,
      rgba(75, 75, 75, 0.02) 85.716%,
      rgba(75, 75, 75, 0.02) 100.002%
    ),
    linear-gradient(
      32deg,
      rgba(212, 212, 212, 0.03) 0%,
      rgba(212, 212, 212, 0.03) 12.5%,
      rgba(223, 223, 223, 0.03) 12.5%,
      rgba(223, 223, 223, 0.03) 25%,
      rgba(11, 11, 11, 0.03) 25%,
      rgba(11, 11, 11, 0.03) 37.5%,
      rgba(86, 86, 86, 0.03) 37.5%,
      rgba(86, 86, 86, 0.03) 50%,
      rgba(106, 106, 106, 0.03) 50%,
      rgba(106, 106, 106, 0.03) 62.5%,
      rgba(220, 220, 220, 0.03) 62.5%,
      rgba(220, 220, 220, 0.03) 75%,
      rgba(91, 91, 91, 0.03) 75%,
      rgba(91, 91, 91, 0.03) 87.5%,
      rgba(216, 216, 216, 0.03) 87.5%,
      rgba(216, 216, 216, 0.03) 100%
    ),
    linear-gradient(
      312deg,
      rgba(113, 113, 113, 0.01) 0%,
      rgba(113, 113, 113, 0.01) 14.286%,
      rgba(54, 54, 54, 0.01) 14.286%,
      rgba(54, 54, 54, 0.01) 28.572%,
      rgba(166, 166, 166, 0.01) 28.572%,
      rgba(166, 166, 166, 0.01) 42.858%,
      rgba(226, 226, 226, 0.01) 42.858%,
      rgba(226, 226, 226, 0.01) 57.144%,
      rgba(109, 109, 109, 0.01) 57.144%,
      rgba(109, 109, 109, 0.01) 71.42999999999999%,
      rgba(239, 239, 239, 0.01) 71.43%,
      rgba(239, 239, 239, 0.01) 85.71600000000001%,
      rgba(54, 54, 54, 0.01) 85.716%,
      rgba(54, 54, 54, 0.01) 100.002%
    ),
    linear-gradient(
      22deg,
      rgba(77, 77, 77, 0.03) 0%,
      rgba(77, 77, 77, 0.03) 20%,
      rgba(235, 235, 235, 0.03) 20%,
      rgba(235, 235, 235, 0.03) 40%,
      rgba(215, 215, 215, 0.03) 40%,
      rgba(215, 215, 215, 0.03) 60%,
      rgba(181, 181, 181, 0.03) 60%,
      rgba(181, 181, 181, 0.03) 80%,
      rgba(193, 193, 193, 0.03) 80%,
      rgba(193, 193, 193, 0.03) 100%
    ),
    linear-gradient(
      80deg,
      rgba(139, 139, 139, 0.02) 0%,
      rgba(139, 139, 139, 0.02) 14.286%,
      rgba(114, 114, 114, 0.02) 14.286%,
      rgba(114, 114, 114, 0.02) 28.572%,
      rgba(240, 240, 240, 0.02) 28.572%,
      rgba(240, 240, 240, 0.02) 42.858%,
      rgba(221, 221, 221, 0.02) 42.858%,
      rgba(221, 221, 221, 0.02) 57.144%,
      rgba(74, 74, 74, 0.02) 57.144%,
      rgba(74, 74, 74, 0.02) 71.42999999999999%,
      rgba(201, 201, 201, 0.02) 71.43%,
      rgba(201, 201, 201, 0.02) 85.71600000000001%,
      rgba(187, 187, 187, 0.02) 85.716%,
      rgba(187, 187, 187, 0.02) 100.002%
    ),
    linear-gradient(
      257deg,
      rgba(72, 72, 72, 0.03) 0%,
      rgba(72, 72, 72, 0.03) 16.667%,
      rgba(138, 138, 138, 0.03) 16.667%,
      rgba(138, 138, 138, 0.03) 33.334%,
      rgba(54, 54, 54, 0.03) 33.334%,
      rgba(54, 54, 54, 0.03) 50.001000000000005%,
      rgba(161, 161, 161, 0.03) 50.001%,
      rgba(161, 161, 161, 0.03) 66.668%,
      rgba(17, 17, 17, 0.03) 66.668%,
      rgba(17, 17, 17, 0.03) 83.33500000000001%,
      rgba(230, 230, 230, 0.03) 83.335%,
      rgba(230, 230, 230, 0.03) 100.002%
    ),
    linear-gradient(
      47deg,
      rgba(191, 191, 191, 0.01) 0%,
      rgba(191, 191, 191, 0.01) 16.667%,
      rgba(27, 27, 27, 0.01) 16.667%,
      rgba(27, 27, 27, 0.01) 33.334%,
      rgba(66, 66, 66, 0.01) 33.334%,
      rgba(66, 66, 66, 0.01) 50.001000000000005%,
      rgba(36, 36, 36, 0.01) 50.001%,
      rgba(36, 36, 36, 0.01) 66.668%,
      rgba(230, 230, 230, 0.01) 66.668%,
      rgba(230, 230, 230, 0.01) 83.33500000000001%,
      rgba(93, 93, 93, 0.01) 83.335%,
      rgba(93, 93, 93, 0.01) 100.002%
    );
}

a {
  color: #fff;
  text-decoration: none;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0px;
  color: #fff;
  background: linear-gradient(270deg, #8c1c1c, #443e53);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 9s ease infinite;
  -moz-animation: AnimationName 9s ease infinite;
  animation: AnimationName 9s ease infinite;
}

h1 {
  font-family: "Bree Serif", serif;
  font-size: xxx-large;
}

h3 {
  font-weight: 300;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #ffffff22;
  border: 1px solid #999;
  float: left;
  font-size: 65px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  font-family: "Fredoka One", cursive;
}

.blue {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
    0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

.red {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f40, 0 0 20px #f40,
    0 0 25px #f40, 0 0 30px #f40, 0 0 35px #f40;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
  min-width: 250px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 97% 0%;
  }
  50% {
    background-position: 4% 100%;
  }
  100% {
    background-position: 97% 0%;
  }
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

/*btn_background*/
.effect01 {
  color: #fff;
  border: 4px solid #000;
  box-shadow: 0px 0px 0px 4px #000 inset;
  background-color: #000;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.effect01:hover {
  border: 4px solid #666;
  background-color: #fff;
  box-shadow: 0px 0px 0px 4px #eee inset;
}

/*btn_text*/
.effect01 span {
  transition: all 0.2s ease-out;
  z-index: 2;
}
.effect01:hover span {
  letter-spacing: 0.13em;
  color: #333;
}

.bigx {
  font-size: x-large;
  padding: 10px;
}

.bigx:hover {
  background-color: #f40;
}

.bigo {
  font-size: x-large;
  padding: 10px;
}

.bigo:hover {
  background-color: #0073e6;
}

.trainSection {
  text-align: center;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
  z-index: 3;
}
.modal:target {
  visibility: visible;
  opacity: 1;
}
.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #443e53;
  padding: 1em 2em;
  text-align: center;
  z-index: 5;
  border: 1px solid;
}
.basic_about {
  font-size: 1.3em;
}
.modal__footer {
  text-align: right;
}
.modal__footer a {
  color: #e40;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fffd;
  text-decoration: none;
}

.curvy {
  width: 100%;
  transform: scaleY(0.3);
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  color: white;
  text-align: center;
  z-index: -1;
}

.footRoof {
  background-image: url(/wave.svg);
  height: 17vw;
  background-size: cover;
  transform: scaleY(0.4);
  transform-origin: bottom;
}

.footerContent {
  height: 35px;
  background-color: #0008;
}

.about {
  position: fixed;
  right: 20px;
  bottom: 0;
  font-size: 1.4em;
}

.about a {
  color: #fffd;
}
